
<div class="container-fluid">
<%- model_class = Stub -%>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<div class="text-center">
    <a  class="btn btn-xs btn-danger" rel="nofollow" data-method="delete" href="/stubs/clear_logs">Clear Logs</a>
</div>   
  <div class="result"></div>
</div>
<script>
   $("body").css("display", "none");
   $("body").fadeIn(2000);

    var data_length=0;
    (function worker() {
  
        $.ajax({
          url: './poll_log', 
          success: function(data) {
         
            if(data_length!=data.length)
            {
              
              data_length = data.length
              $('.result').css("display", "none");
              $('.result').fadeIn(2000);
              $('.result').html(data);
            }
           
          },
          complete: function() {
            setTimeout(worker, 5000);
          }
        });
    })();
</script>
