
<table class="table table-striped">
  <thead>
    <tr>
      <th>
      </th>
      <th>

      </th>
      <th class="text-center">
           <a data-confirm="Are you sure?" class="btn btn-xs btn-danger" rel="nofollow" data-method="delete" href="./stubs/clear_logs">Clear Logs</a>
      </th>
      <th>
      </th>
    </tr>
    <tr>
      <th>id</th>
      <th>Request URL</th>
      <th>Route Type</th>
      <th>Created at</th>
    </tr>
  </thead>
  <tbody style="height: 100px !important;overflow: scroll;">
    <% @stubs.each do |stub| %>
      <tr>
        <td><%= link_to stub.id, stub_path(stub) %></td>
        <td><%= stub.request_url %></td>
        <td><%= stub.route_type %></td>
        <td><%= stub.created_at %></td>
      </tr>
      <%end%>
    </tbody>
</table>



