<div class="container-fluid">
      <div style="margin-bottom: 45px;
padding-bottom: 5px;
border-bottom: 1px solid #eaeaea;
">
      <h4 >Server Log</h4>
    </div>
  <div class="text-center">
      <a  class="btn btn-xs btn-danger" rel="nofollow" data-method="delete" href="/stubs/clear_server_log">Clear Logs</a> 
  </div> </br>
  <div style="padding:10px;"><img id="#indicator" src="/assets/ajax-loader.gif"></img><button class="btn btn-xs btn-danger" id="stop">Stop</button>&nbsp;&nbsp;<button class="btn btn-default btn-xs" id="start">Start</button></div>
  <div class='log'>
  </div>
</div>
 <script type="text/javascript">

$( document ).ready(function() {

  var poll = true;
  function poll_log(action){
    poll = action;
  }
 
  url = '/stubs/poll_server_log';
  worker();

 $("#stop").click(function(){
    poll_log(false)
    $("img").hide();
 });

 $("#start").click(function(){
  $("img").show();
    poll_log(true)
    worker();
 });

  function worker() {
      $("#indicator").show();
        $.ajax({
          url: url, 
          success: function(data) {
              $("#indicator").hide();
              $('.log').html(data);
          },
          complete: function() { 
            if (poll===true){
               setTimeout(worker, 2000);
            }

          }
      });
    }
});


</script>
