<div class="container-fluid">
	
	<div class="text-center">
  		<a  class="btn btn-xs btn-danger" rel="nofollow" data-method="delete" href="/stubs/clear_server_log">Clear Logs</a>
	</div> 
		<%@logs.each do |log|%>
			<p><%=log%></p>
		<%end%>
</div>

