<div class="container-fluid">
	  <div style="margin-bottom: 45px;
padding-bottom: 5px;
border-bottom: 1px solid #eaeaea;
">
      <h4 >Server Log</h4>
    </div>
	<div class="text-center">
  		<a  class="btn btn-xs btn-danger" rel="nofollow" data-method="delete" href="/stubs/clear_server_log">Clear Logs</a>
	</div> 
		<%@logs.each do |log|%>
			<p><%=log%></p>
		<%end%>
</div>

