<p>
  <strong>Flow:</strong>
  <%= flow.flow_name %>
</p>
<p>
  <%= link_to 'Destroy Flow', [flow.feature, flow],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>

