<div class="container-fluid">
	
	<form class="new_flow" id="new_flow" action="/features/<%=@flow[:feature_id]%>/flows/<%=@flow[:id]%>" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" />
		<input type="hidden" name="_method" value="patch" />
	 		 <p>
	  			  <label for="flow_flow_name">Flow name</label><br>
	    		  <input type="text" name="flow[flow_name]" id="flow_flow_name" value="<%=@flow[:flow_name]%>"size="50%"/>
	  		 </p>
	  		 <p>
	    		  <input type="submit" name="commit" value="Update Flow" class="btn btn-primary" />
	  		</p>
	</form>
</div>