<div class="container-fluid">
  
  
<div style="margin-bottom: 45px;
padding-bottom: 5px;
border-bottom: 1px solid #eaeaea;
">
      <h4 >404 Log</h4>
    </div>
  <a class="btn btn-default" href="/">Back</a>

  <div class="text-center">
    <a  class="btn btn-xs btn-danger" rel="nofollow" data-method="delete" href="/notfound/clear_notfound_list">Clear log</a>
  </div> <br>
  <div class="form-group" >
      <input type="text" class="form-control" id="device_ip" name="device_ip" list="device_ips" autocomplete="off" placeholder="Select device IP" style="display: inline-block; width:90%"> 
       <datalist id="device_ips">
          <%@notfound_list.each do |device_ip|%>
            <option value="<%=device_ip%>">
          <%end%>
        </datalist>
        <img id="refresh"  style="width:2.5%" src="/assets/refresh.png">
        <img id="indicator" style="display: none;" src="/assets/ajax-loader.gif">
  </div>

	<div class="result"></div>

</div>

<script type="text/javascript">
   
   $(document).ready(function(){
     
     url = '/notfound/notfound_list';
     var data_length=0;
     
     $("#refresh").click(function(){
        device_ip = $("#device_ip").val();
        $('#indicator').css("display", "inline-block")
        $.ajax({
          url: url+"?device_ip="+device_ip, 
          success: function(data) {
            $('#indicator').css("display", "none")
            if(data_length!=data.length)
            {          
              data_length = data.length;
              $('.result').css("display", "none");
              $('.result').fadeIn(2000);
              $('.result').html(data);
            }
           }
         });
      });
   });

</script>