<div class="container-fluid">
<p>
  <div class="page-header">
  <strong>Route:</strong>
  <%= @route.path %>
</div>
  <table width="100%">
  	 <thead>
 		 <tr>
        <th width="50%">
          Fixture
        </th>
        <th class="text-center">
          Route Type
        </th>
        <th class="text-center">  
          Host
        </th>
    	</tr>
    </thead>
    <tbody>
		<tr>
      <td>
       <textarea rows="25" cols="130"><%=
       begin
        json_object = JSON.parse @route.fixture
        JSON.pretty_generate(json_object)
      rescue
        "Invalid json: #{@route.fixture}"
      end
         %></textarea>
        

      </td>
      <td align="center">
        <%= @route.route_type %>
      </td>
      <td align="center">
        <%= @route.host %>
      </td>
	</tbody>
</table>
</p>
</div>