// Place all the styles related to the configuration controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {

   position:fixed;
   left:0px;
   bottom:0px;
  margin-top: 45px;
  padding-top: 5px;
 border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  background-color:lightgrey;
   height:30px;
   width:100%;
   #padding-bottom: 50px;
  a {
   color: #707070;
    &:hover {
      color: red;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    margin-right:5%;
    li {
      float: left;
      margin-left: 15px;
    }
  }


}


body { 
  padding-top: 80px; 
  padding-bottom: 80px;
}
