<div class="container-fluid">	
 	<p>The selected feature has been deleted successfully</p>
 	<%= link_to t('.back', :default => t("helpers.links.back")),
              features_path, :class => 'btn btn-default'  %>
</div>