<p>
  <strong>Feature:</strong>
  <%= @feature.feature_name %>
  <table>
  	 <thead>
 		 <tr>
    		<th>
    			<h2>Flows</h2>
    		</th>
    	</tr>
    </thead>
    <tbody>
		<% @feature.flows.each do |flow| %>
		<tr>
			<td>
				<a href="/features/<%= flow[:feature_id] %>/flows/<%=flow[:id]%>"><%=flow[:flow_name]%></a>
			</td>
		<% end %>
	</tbody>
</table>
</p>