 <table class="table" style="align:center">
    <thead>
      <tr>
        <th class="text-right" colspan="3">
           <a href="/stubs/" class="btn btn-primary">View Request</a>
           <a href="/scenarios/debug" class="btn btn-primary">Debug Scenario</a>
           <a href="/aadhiconfig/" class="btn btn-primary">Config</a>
           <a href="/features/import_xml" class="btn btn-primary">Upload Feature</a>
           <a href="/stubs/server_log" class="btn btn-default">Server Log</a>
        </th>
      </tr>
  </thead>
</table>

<% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    setTimeout(function(){ $(".alert").css("display","none") }, 5000);
  });
</script>