 <table class="table" style="align:center">
    <thead>
      <tr>
        <th class="text-right" colspan="3">
           <a href="/stubs/" class="btn btn-primary">View Logs</a>
           <a href="/scenarios/debug" class="btn btn-primary">Debug Scenario</a>
           <a href="/config/" class="btn btn-primary">Config</a>
           <a href="/features/import_json" class="btn btn-primary">Upload Feature</a>
        </th>
      </tr>
  </thead>
</table>