<script type="text/javascript">
	$(document).ready(function(){
		$("#myModal").modal('show');
	});
</script>

<div class="container-fluid">	

<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><%=@message_type%></h4>
            </div>
            <div class="modal-body">
                <p><%= @message%></p>
            </div>
            <div class="modal-footer">
               <a class="btn btn-default" href="<%= @navigation_url%>"><%= @button%></a>
            </div>
        </div>
    </div>
</div>


</div>
