<!DOCTYPE html>
<html>
<head>
  <title>Aadhi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
  		.aadhi-page-header{
  			width: 120%;
  			background-color: black;
  			font-style: helvetica;
  			color: white;
  			margin-top: -20px;
  			position: fixed;
  			height: 84px;
  		}
  		.aadhi-page-header h2{
  			margin-left: 20px;
  			font-family: fantasy;
  			margin-top: 35px;
  		}

  		.aadhi-page-header p{
  			color: red;
			margin-top: -7px;
			font-size: 13px;
			font-family: cursive;
			margin-left: 76px;
  		}
  		body{
  			background-color: whitesmoke;
  		}
  		.container-fluid{
  			padding-top: 95px;
  		}
  </style>
  
	<div class="aadhi-page-header">
	    <h2>Aadhi <br/><p>Adaptable and creative in responding to new situations</p></h2>      
	 </div>
</head>
<body>

<%= yield %>
<script type="text/javascript">
  $(document).ready(function() {
  	$(".aadhi-page-header").click(function(){
  			window.location = "/";
  		});
  	});
  </script>
</body>
</html>
